/* GLOBALS */
html {
	font-size: 14px;
}

.dark {
	color: #306DA5;
}

.light {
	color: #008CB2;
}

/* TITLE PAGE */
#body-page-1 {
  	margin-top: 10rem;
} 

.full-info {
	width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.first-name {
	font-size: 4.643rem;
	margin-bottom: -30px;
    margin-top: 45px;
}

.last-name {
	font-weight: lighter;
	font-size: 3.843rem;
	margin-bottom: -5px;
}

.profession {
	font-weight: lighter;
	font-size: 1.04rem;
    width: 20em;
}

.front-links {
	width: 20em;
    margin-left: auto;
    margin-right: auto;	
}

.portfolio-link-container {
    margin-top: 55px;
    margin-bottom: -30px;
}

#portfolio-link {
	font-size: 4.214rem;
}

.resume--link-container {

}

#resume-link {
	font-weight: lighter;
	font-size: 4.543rem;
}

.right-caret {
    font-size: 45px;
}

.fal {
	font-size: 4.214rem;
}