body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.dark {
	color: #306DA5;
}

.light {
	color: #008CB2;
}

.fal {
	font-size: 4.214rem;
}



#titleFN {
	font-weight: normal;
	font-size: 4.643rem;
	display: block;
}


#titleLN{
	font-weight: lighter;
	font-size: 4rem; 
}

#titleDescription {
	font-weight: lighter;
	font-size: 1.14rem;
}

#portfolio {
	font-weight: normal;
	font-size: 4.214rem;
}
#resume {
	font-weight: lighter;
	font-size: 4.643rem;
}
#logo {
	max-width: 71.43%;
	margin: auto;
	display:block;
	margin-left:auto;
	margin-right:auto; 
}

#caret {
	font-size: 4.214rem;
}

 a:hover, .navLink:hover .navLink{
	color: #42f4cb;
	text-decoration: none !important;
}