/* GLOBALS */
.dark {
	color: #306DA5;
}

.light {
	color: #008CB2;
}

/* TITLE PAGE */
.body-page-1 {
  margin-top: 10rem;
} 

.first-name {
	font-size: 4.643rem;
}

.last-name {
	font-weight: lighter;
	font-size: 4rem;
}

.profession {
	font-weight: lighter;
	font-size: 1.14rem;
}

.portfolio-link {
	font-size: 4.214rem;
}

.resume-link {
	font-size: 4.643rem;
}

.fal {
	font-size: 4.214rem;
}